.flip-card {
    perspective: none;
    transition: transform 0.5s;
  }
  
  .flip-card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-inner {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  
  .front, .back {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
  }
  
  .back {
    transform: rotateY(180deg);
  }