/* .container{
   padding: 0px;
   display: flex;
   margin-left: 0px;
   margin-right: 0px;
   align-items: center;
   justify-content: center;
} */
/* .formulario{    
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
} */